body {
     color: black;
    background: lightgrey;
}

header {
    border-bottom: solid 3px black;
    padding: 2px;
    font-size: 25px;
}

section {
    background: rgb(47, 79, 79);
    padding-bottom: 5px;
    padding-top: 30px; 
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

img{
   height: 200px;

}

img